*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.caixinha{
    background-color: red;
    height: 60vh;
    width: 80vw;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-evenly;
}